.container {
     text-align: center;
     background-color: lightblue;
     margin: 50px;
     height: 400px;
     padding: 100px;
     border: 2px solid black;
     border-radius: 0.75em;
     display: flex;
     justify-content: center;
    
}

.button {
    background: black;
    border: 2px solid white;
    color:white;
    border-radius: 0.75em;
    padding: 10px;
    margin: 10px;
    font-size: 1em;
          
}

.cookie{
     width: 150px;
}

.button:hover {
     background: white;
     color:black;
     cursor: pointer;
}

.click-tally {
     padding: 5px;
     font-size: 1.2em; 
}

.timer {
     font-size: 1.5em; 
     padding: 5px;
}